body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.list {
  max-height: 400px;
  border: solid 1px #e7e7e7;
  border-radius: 4px;
  background-color: #f8f8f8;

  overflow-y: scroll;
}

.product {
  display: flex;
  padding: 16px;
  align-items: center;
  background-color: #fff;
  border-bottom: solid 1px #e7e7e7;
}

.product-content {
  flex: 1;
}

.product-name {
  font-weight: bold;
}

.product-highlight {
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
}

.product-actions {
  display: flex;
  align-self: flex-end;
}

.cart_total-container {
  display: flex;
  align-items: center;

  padding: 8px;

}

.cart_total {
  display: flex;
  flex: 1;
  margin-right: 16px;
  justify-content: flex-end;

  font-size: 18px;
  font-weight: bold;
}

.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-container > span {
  margin-right: 8px;
}
